<div id="addModal"
     class="modal">

  <div class="modal-content">
    <h4>New Serie</h4>

    <form [formGroup]="form">

      <div class="row">
        <div class="input-field col s6">
          <input id="title"
                 type="text"
                 formControlName="title">
          <label for="title">Title</label>
        </div>
        <div class="input-field col s6">
          <input id="creators"
                 type="text"
                 formControlName="creators">
          <label for="creators">Creators</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="genre"
                 type="text"
                 formControlName="genre">
          <label for="genre">Genre</label>
        </div>
        <div class="input-field col s6">
          <input id="releaseYear"
                 type="number"
                 formControlName="releaseYear">
          <label for="releaseYear"
                 class="active">
            Release Year
          </label>
          <span *ngIf="form.hasMinReleaseError">
            The release year must be more than 1970
          </span>
          <span *ngIf="form.hasMaxReleaseError">
            The release year must be less than the current year
          </span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="seasons"
                 type="text"
                 formControlName="seasons">
          <label for="seasons"
                 class="active">
            Seasons
          </label>
        </div>
        <div class="input-field col s6">
          <input id="pictureUrl"
                 type="url"
                 formControlName="pictureUrl">
          <label for="pictureUrl">Picture Url</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="synopsis"
                    class="materialize-textarea"
                    formControlName="synopsis">
          </textarea>
          <label for="synopsis">Synopsis</label>
      </div>


    </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class=" modal-action waves-effect waves-green btn-flat"
      (click)="cancel()">
      Cancel
    </button>
    <button class=" modal-action waves-effect waves-green btn-flat"
       [disabled]="form.invalid"
       (click)="add()">
      Add
    </button>
  </div>
</div>





