<div class="row">
  <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/image/the_walking_dead.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          Game of Thrones
          <i class="material-icons right">more_vert</i>
        </span>
        <p class="grey-text text-darken-1"> 2011 - Fantasy médiévale, Drame </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          Game of Thrones
          <i class="material-icons right">close</i>
        </span>

        <div class="row"></div>

        <div class="row">
          <div class="col s3">
            <span> Créateur(s)</span>
          </div>
          <div class="col s9">
            <span class="grey-text text-darken-1"> D.B. Weiss, David Benioff </span>
          </div>
        </div>

        <div class="row">
          <div class="col s3">
            <span> Genre</span>
          </div>
          <div class="col s9">
            <span class="grey-text text-darken-1"> Fantasy médiévale, Drame</span>
          </div>
        </div>

        <div class="row">
          <div class="col s3">
            <span> Année</span>
          </div>
          <div class="col s9">
            <span class="grey-text text-darken-1"> 2011</span>
          </div>
        </div>

        <div class="row">
          <div class="col s3">
            <span> Saisons</span>
          </div>
          <div class="col s9">
            <span class="grey-text text-darken-1"> 7</span>
          </div>
        </div>

        <div class="row">
          <div class="col s3">
            <span> Site web</span>
          </div>
          <div class="col s9">
            <a href="https://www.hbo.com/game-of-thrones"> https ://www.hbo.com/game-of-thrones</a>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <span>Synopsis</span>
            <p class="synopsis">
              Il y a très longtemps, à une époque oubliée, une force a détruit l'équilibre des saisons. Dans un pays où l'été peut durer plusieurs années et l'hiver toute une vie, des forces sinistres et surnaturelles se pressent aux portes du Royaume des Sept Couronnes. La confrérie de la Garde de Nuit, protégeant le Royaume de toute créature pouvant provenir d'au-delà du Mur protecteur, n'a plus les ressources nécessaires pour assurer la sécurité de tous. Après un été de dix années, un hiver rigoureux s'abat sur le Royaume avec la promesse d'un avenir des plus sombres. Pendant ce temps, complots et rivalités se jouent sur le continent pour s'emparer du Trône de Fer, le symbole du pouvoir absolu.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

